POSTGRES_PASSWORD=REPLACE_ME
_AIRFLOW_WWW_USER_PASSWORD=REPLACE_ME
REDIS_PASSWORD=REPLACE_ME
SLACK_WEBHOOK_URL=REPLACE_ME
AIRFLOW__CORE__FERNET_KEY=REPLACE_ME
ARTIFACT_DIR=/opt/airflow/data/artifacts
WAITLIST_DB=/opt/airflow/data/waitlist.db
WAITLIST_ADMIN_TOKEN=REPLACE_ME
